/* RESETS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4,
p,
li,
figure, figcaption,
blockquote,
dl,dd {
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* GLOBALS */

body {
    margin: 0;
    background-color: #333;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #CCC;
    font: 1rem Verdana;
    background-color: #333;
}

main {
    background-color: rgb(240, 238, 235);
}

section {
    display: flex;
    justify-content: center;
}

.section-content {
    width: 1200px;
    padding: 2rem 0;
}

.card {
    display: inline-block;
    padding: 30px;
    border-radius: 1rem;;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px;
}

input.invalid {
    background-color: red;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    transition: all 250ms;
    font-size: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 2px;
}

#header-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: inline-block;
    padding: 20px 0;
    font: 2rem Verdana;
    color: #333;
    text-decoration: none;
}

#site-nav ol {
    display: flex;
    justify-content: flex-end;
}

#site-nav li {
    list-style: none;
    padding: 5px;
}

#site-nav a {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    padding: 8px 5px;
    font-family: Verdana, serif;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}

#site-nav a:not(.btn)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: #BBB;
    transform: scaleX(0);
    transition: transform 200ms ease-out;
}

#site-nav a:not(.btn):hover::after {
    transform: scaleX(1);
}

#site-nav a.btn {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #EEE;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0;
    transition: all 250ms;
}

#site-nav a.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
    transform: translateY(1px);
}

#site-nav a.btn:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
    transform: translateY(0);
}

/* PAGE CONTENT */

#home-banner {
    min-height: calc(100vh - 161px);
    background: center / cover no-repeat url('/images/spacejoy.jpg');
}

.testimonial {
    font-size: 1.5em;
    border-left: 5px solid #BBB;
    margin: 1.5em 10px;
    padding: 0.5em 1.5em;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
}

.testimonial::before {
    color: #FFF;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

.testimonial p {
    display: inline;
}

.testimonial cite {
    display: block;
    margin-right: 1em;
    text-align: right;
    font-style: normal;
}

.testimonial cite::before {
    content: " - ";
}
