body {
    margin: 0;
    font-family: Georgia;
    background-color: var(--color-dark);
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #CCC;
    font: 1rem Verdana;
    background-color: var(--color-dark);
}

section {
    display: flex;
    justify-content: center;
}

.section-content {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
}

a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

form {
    max-width: 400px;

    & input,
    & textarea {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.2rem 0.4rem;
        border: 1px solid #CCC;
        border-radius: 0.2rem;
    
        &.invalid {
            background-color: rgb(250, 223, 223);
        }
    }
}

a.btn,
button {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0;
    transition: all 250ms;
    text-decoration: none;
    color: #333;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0 4px 12px;
        transform: translateY(1px);
    }

    &:active {
        box-shadow: rgba(0, 0, 0, 0.05) 0 2px 4px;
        transform: translateY(0);
    }
}