body {
    margin: 0;
    background-color: #333;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #CCC;
    font: 1rem Verdana;
    background-color: #333;
}

main {
    background-color: rgb(240, 238, 235);
}

section {
    display: flex;
    justify-content: center;
}

.section-content {
    max-width: 1200px;
    padding: 2rem 0;
}

input.invalid {
    background-color: red;
}